<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password

    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static "css/forgotpassword.css" %}">


</head>

<body>
    <!-- <h1>try try and try</h1> -->

    <div class="container">
        <div class="row g-3 gx-0 gy-0 px-4 py-4 justify-content-center">

            <!-- col 1 -->
            <div class="col-lg-4 col-md-12">
                <div class="card h-100 ">
                    <div class="card-body">
                        <h5 class="card-title text-center">PartyAt</h5>
                        <form action="">
                            <div class="form-row">
                              <div class="col-12">
                                <input  class="form-control my-1 p-3 " type="email" name="" id="" placeholder="Email-Address">
                              </div>
                            </div>
                            
                           
                            <div class="form-row">
                              <div class="col-12">
                                <button type="button" class="btn1 mt-3 mb-3">Reset Link</button>
                              </div>
                            </div>
                            <p>Enter Email associated with our account we will send a verification code</p>
                          </form>
                     
                    </div>
                </div>
            </div>
           


        </div> <!-- row  -->

    </div> <!-- container -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>